############################################
# Ruby / Rails (backend)
############################################

backend/.bundle
backend/log/*
!backend/log/.keep

backend/tmp/*
!backend/tmp/.keep

backend/tmp/cache/*
!backend/tmp/cache/.keep

backend/tmp/pids/*
!backend/tmp/pids/.keep

backend/storage/*
!backend/storage/.keep

backend/tmp/storage/*
!backend/tmp/storage/.keep

backend/config/*.key

############################################
# Environment variables
############################################

.env
.env.*
!.env.example

############################################
# Node / Frontend
############################################

frontend/.vite/
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

############################################
# Editor / OS
############################################

.vscode/
!.vscode/extensions.json

.idea

.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

############################################
# Logs
############################################

*.log
logs