############################################
# Ruby / Rails
############################################

.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/config/*.key

# Rails environment files
.env*
!.env.example


############################################
# Node / Frontend
############################################

node_modules
dist
dist-ssr
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################################
# Editor / OS
############################################

.vscode/*
!.vscode/extensions.json

.idea

.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

############################################
# Logs
############################################

logs
*.log

############################################
# Optional (common full-stack additions)
############################################

.env
.env.*
!.env.example